<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <div>
        <li><%= messages[i].text %></li>
      </div>
      <div>
        <li><%= messages[i].user %></li>
      </div>
      <div>
        <li><%= messages[i].added%></li>
      </div>
      <% } %>
    </ul>
    <p><a href="/new">Enter</a></p>
  </body>
</html>
